.nav-header {
    min-height: 45vh;
    background: #f8f9fa;
}

nav span {
    cursor: pointer;
}

.self-container {
}

.self-image {
    max-height: 400px;
}

.self-title {
    font-size: 16px;
}

.self-title-food {
    font-size: 16px;
}

.self-price-food {
    font-size: 16px;
}

.self-price-food B {
    color: darkblue;
}

.self-size-food {
    font-size: 16px;
}

.img-shop {
    height: 250px;
}

i {
    cursor: pointer;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    position: relative;
    left: -20px;
}

#self-title-2 {
    font-size: 26px !important;
    font-weight: bold;
}

.color-red{
    color: darkred;
}